.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #457B9D;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 6px;
}
[dark="on"] {
  background-color: #333 !important;
  color: #eee;
}
[dark="on"] .bg-light {
  background-color: #444 !important;
}
[dark="on"] .bg-white {
  background-color: #000 !important;
}
[dark="on"] .bg-black {
  background-color: #eee !important;
}
[dark="on"] .card,
[dark="on"] blockquote,
[dark="on"] input {
  background-color: #303030 !important;
}
[dark="on"] .turn-up,
[dark="on"] #dark-mode {
  background: #303030 !important;
}
[dark="on"] .text-body,
[dark="on"] code {
  color: #eee !important;
}
[dark="on"] p {
  color: #eee !important;
}
[dark="on"] h1,
[dark="on"] h2,
[dark="on"] h3,
[dark="on"] .post-title,
[dark="on"] .tagline,
[dark="on"] .desc {
  color: #eee !important;
}
[dark="on"] li {
  color: #eee !important;
}
[dark="on"] hr {
  height: 1px;
  border: 0;
  background-color: #eee;
}
/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+java+python&plugins=show-language+toolbar */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #f8f8f2;
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.regex,
.token.important {
  color: #fd971f;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
div.code-toolbar {
  position: relative;
}
div.code-toolbar > .toolbar {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
div.code-toolbar:hover > .toolbar {
  opacity: 1;
}
/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}
div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}
div.code-toolbar > .toolbar a {
  cursor: pointer;
}
div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}
div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}
body {
  cursor: url(../media/houxuan.cur), auto;
}
body:active {
  cursor: url("../media/zc.cur"), auto;
}
a {
  color: #457B9D;
}
a:hover {
  color: #1d6fa5;
}
.nav-link:hover,
.nav-link:focus {
  color: #457B9D !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2rem;
  color: #34495e;
}
h2 {
  font-size: 1.7rem;
  color: #34495e;
}
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  color: #34495e;
}
h1,
h2 {
  margin-bottom: 1rem;
}
.navbar {
  padding: 0.3rem 1rem;
}
img {
  max-width: 100%;
  border-radius: 6px;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
  color: #34495e;
}
li {
  font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
  color: #34495e;
}
.alert {
  border-radius: 0;
}
#main {
  padding: 1.5rem 0;
  margin-top: 4rem;
}
#main img {
  height: auto;
  transition: filter 0.3s;
  max-height: 50rem;
}
.page-title {
  display: inline-block;
}
.post-title {
  color: #34495e;
}
.post-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.post-content a {
  text-decoration: underline;
}
.post-content ul {
  padding-inline-start: 20px;
}
blockquote {
  padding: 0.5rem;
  background-color: #f0f0f0;
}
blockquote p:before {
  opacity: 0.5;
  margin-right: 0.3rem;
  content: ">";
}
blockquote p {
  margin: 0;
}
.post {
  padding-top: 1.5em;
}
.post:first-child {
  padding-top: 0;
}
.card {
  margin-bottom: 1rem;
}
#dark-mode {
  display: block;
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;
  padding: 0rem 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 2rem;
  color: #457B9D;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  transition: color 0.3s, border 0.3s, background 0.3s, transform 0.3s;
}
.turn-up {
  right: 1.5rem;
  bottom: 5.5rem;
  padding: 0.5rem 0.5rem;
  display: block;
  cursor: pointer;
  position: fixed;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  transform: translateX(80px);
  transition: color 0.3s, border 0.3s, background 0.3s, transform 0.3s;
}
.turn-up.active {
  transform: translateX(0);
}
.turn-up i {
  font-size: 2rem;
}
.footer {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
}
#read-progress {
  position: fixed;
  display: inline-block;
  height: 4px;
  width: 0px;
  top: 3.15rem;
  background-color: #457B9D !important;
  z-index: 9999;
}
.markdownIt-TOC {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  padding-inline-start: 20px;
  font-size: 1rem;
  list-style: lower-alpha;
}
.markdownIt-TOC li {
  list-style: upper-roman;
}
.markdownIt-TOC ul {
  padding-inline-start: 0;
}
.markdownIt-TOC li a {
  display: block;
  width: 13rem;
  color: #bdc3c7;
}
.markdownIt-TOC li a:hover {
  color: #E63946;
}
.markdownIt-TOC li a.current {
  color: #E63946;
}
.toc-fixed {
  position: fixed;
  max-width: 33.333333%;
}
@media (max-width: 992px) {
  .toc-fixed {
    display: none;
  }
}
.tagline {
  position: relative;
  display: inline-block;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: #444;
}
.desc {
  position: relative;
  display: inline-block;
  padding: 0.1rem 0 0.1rem;
  font-size: 1.125rem;
  font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: #bdc3c7;
}
.under {
  position: relative;
  display: inline-block;
}
.textCon {
  position: relative;
  z-index: 999;
}
.borderText-lg {
  width: 4.5rem;
  height: 10px;
  background: #457B9D;
  position: absolute;
  bottom: 0;
  z-index: 0;
  left: 0;
}
.borderText-sm {
  width: 12rem;
  height: 0.3rem;
  background: #E63946;
  position: absolute;
  bottom: 0;
  z-index: 0;
  left: 0;
}
#title {
  margin-top: 3rem;
  font-family: COURIER, arial, sans-serif;
}
#head {
  margin-top: 2rem;
  font-family: COURIER, arial, sans-serif;
}
#items {
  color: #737386;
  font-size: 1rem;
  display: block;
  margin-top: 3.5rem;
}
#items a {
  padding-top: 0.5rem;
  display: inline-block;
}
a.small {
  margin-top: 3rem;
  display: block;
  color: #E63946;
  font-size: 0.9rem;
  font-family: arial, sans-serif;
  text-decoration: underline;
}
.v .vwrap .vedit {
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.v .veditor {
  background-image: url("https://raw.githubusercontent.com/willisfusu/piconly/master/image/comment_bg.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right;
}
.v .veditor:focus {
  background-position-y: 115px;
  transition: 0.4s;
}
.v .vinput {
  padding: 10px 15px;
}
.v .vwrap .vheader .vinput {
  position: relative;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.v .vbtn {
  border-radius: 6px;
  padding: 0;
  color: #fff;
  line-height: 44px;
  width: 100%;
  border: none;
  background: #E63946;
}
.v .vheader .reply-info {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  position: relative;
  width: 33.33%;
  margin-bottom: 0.5rem;
}
